In [10]:
import pandas as pd

In [11]:
reddit_user_data = pd.read_csv('reddit_user_data_count.csv')
subreddit_data = pd.read_csv('subreddit_info.csv')

In [12]:
reddit_user_data.head()

                   user        subreddit  count
0  ------Username------        AskReddit     20
1  ------Username------            Barca      9
2  ------Username------             FIFA      4
3  ------Username------              MMA      5
4  ------Username------  RioGrandeValley      3

In [13]:
subreddit_data.head()

,subreddit,num_subscribers,over18,public_description
0,ChoosingBeggars,2134849.0,False,"This subreddit is for posting screenshots, pic..."
1,Python,809272.0,False,News about the programming language Python. If...
2,interestingasfuck,8092462.0,False,For anything that is InterestingAsFuck
3,PublicFreakout,3257059.0,False,"A subreddit dedicated to people freaking out, ..."
4,ShitMomGroupsSay,258681.0,False,Share the drama. \n\nEssential oils cure all? ...

In [16]:
test = reddit_user_data.merge(subreddit_data)
test

,user,subreddit,count,num_subscribers,over18,public_description
0,------Username------,AskReddit,20,32374022.0,False,r/AskReddit is the place to ask and answer tho...
1,----Michel----,AskReddit,6,32374022.0,False,r/AskReddit is the place to ask and answer tho...
2,----petrichor----,AskReddit,31,32374022.0,False,r/AskReddit is the place to ask and answer tho...
3,--Anarchaeopteryx--,AskReddit,1,32374022.0,False,r/AskReddit is the place to ask and answer tho...
4,--Orchid--,AskReddit,84,32374022.0,False,r/AskReddit is the place to ask and answer tho...
...,...,...,...,...,...,...
1646701,zynu,developer,1,10632.0,False,"The home for developers. Post your projects, g..."
1646702,zzreywasol,SubaruOldSchool,2,221.0,False,A place for older Subarus in all their glory. ...
1646703,zzzayah,DylanPierce,3,5.0,False,Dylan Pierce happy sad Brennan Smith scary man
1646704,zzzayah,Zynn,1,1955.0,False,Hello! This is a community all about Zynn! Ple...
1646705,zzzayah,actualeyebleach,1,17.0,False,Bleach being poured into eyes

In [17]:
#check for null values
total = test.isnull().sum().sort_values(ascending=False)
percent = (test.isnull().sum()/test.isnull().count()).sort_values(ascending = False)
missing_data = pd.concat([total, percent],axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                    Total  Percent
public_description      0      0.0
over18                  0      0.0
num_subscribers         0      0.0
count                   0      0.0
subreddit               0      0.0
user                    0      0.0

In [9]:
# create new collumn (Over18) reddit_user_data 
for subreddit in reddit_user_data['subreddit']:
    if subreddit in subreddit_data['subreddit']:
        reddit_user_data['over18'] = subreddit_data['subreddit']
    else: reddit_user_data['over18'] = 'NaoTem'

KeyboardInterrupt:

In [ ]:
reddit_user_data.head()